<% provide(:title, @person.first_name) %>


<h2><%="#{@person.first_name} #{@person.last_name}" %></h2>
<p><%= link_to "Edit Contact", edit_person_path(@person.id)%>
   <%= link_to "Delete Contact", @person, method: :delete,
                                          data: {confirm: "Are you sure?"}%></p>




<p> Phone <%= "number".pluralize(@person.phone_numbers.count) %>:</p>
<ul>
  <% @person.phone_numbers.each do |phone| %>
    <li><%= "#{phone.number}" %>
      <%= link_to "Edit", edit_phone_number_path(phone.id) %>
      <%= link_to "Delete", phone, method: :delete,
                                   data: {confirm: "Are you sure"}%>
    </li>
    <% end %>
</ul>
<p><%= link_to "Add phone number", new_phone_number_path %></p>
<p><%= link_to "<< Back", root_path %></p>
