<h1>PhoneNumber#new</h1>
<p>Find me in app/views/phone_number/new.html.erb</p>
<%= form_for(@phone_number) do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.label :number %>
  <%= f.text_field :number, class: "form-control" %>

  <%= f.submit 'Submit', class: "btn btn-primary" %>
<% end %>

<%= link_to "<< Back", person_path(@person.id) %>
