<% provide(:title, "Edit Number") %>
<h1>Edit a Phone Number</h1>

<%= form_for (@phone_number) do |f| %>
  <%= render 'shared/error_messages',  object: f.object %>
  <%= f.label :number %>
  <%= f.text_field :number, class: "form-control" %>

  <%= f.submit 'Submit', class: "btn btn-primary" %>
<% end %>
